<!-- BEGIN plugin-resources/webapp/xnat-templates/screens/Scripts.vm -->
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="siteConfig" type="java.util.Properties" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="tabs" type="java.util.List<java.util.Properties>" *#
#* @vtlvariable name="scripts" type="java.util.List<org.nrg.automation.entities.Script>" *#
#* @vtlvariable name="script" type="org.nrg.automation.entities.Script" *#
#* @vtlvariable name="link" type="org.apache.turbine.util.template.TemplateLink" *#
#* @vtlvariable name="error" type="java.lang.String" *#

<script type="text/javascript">
//    jq(function(){
//        jq('body').addClass('administer configuration no_left_bar');
//    });

##    function addScript(){
##        window.location = "$link.setPage("EditScript.vm")";
##    }
##    function deleteScript(scriptId) {
##        xmodal.confirm({
##            title: 'Delete Script?',
##            content: 'Are you sure you want to delete the script ' + scriptId + '?<br/><br/>Any events or triggers associated with this script will also be deleted.',
##            okLabel: 'Yes',
##            cancelLabel: 'No',
##            okAction: function() {
##                doDelete(scriptId);
##            },
##            cancelAction: function() {
##                xmodal.message('Delete cancelled', 'The script was not deleted.');
##            }
##        });
##    }
##    function doDelete(scriptId) {
##        var successDialog = {
##            title: 'Success',
##            content: 'The script was successfully deleted.',
##            action: function(){
##                window.location.reload();
##            }
##        };
##        jQuery.ajax({
##            type: 'DELETE',
##            url: serverRoot + "/data/automation/scripts/" + scriptId + "?XNAT_CSRF=$!XNAT_CSRF",
##            cache: false,
##            success: function() {
##                xmodal.message(successDialog);
##            },
##            error: function(request, status, error) {
##                xmodal.message('Error', 'An error occurred: [' + status + '] ' + error);
##            }
##        });
##    }
</script>
<div class="yui-skin-sam">
<div id="tp_fm" style="display:none"></div>
<table style="width:98%">
    <tr>
        <td valign="top" style="width:680px;">
            <div class="edit_header1">Scripts</div><br/>
        </td>
    </tr>
    <tr>
        <td colspan="3">

#if($data.getSession().getAttribute("user").checkRole("Administrator"))

    <script type="text/javascript" src="$content.getURI("scripts/ace/ace.js")"></script>
    <script type="text/javascript" src="$content.getURI("scripts/xnat/app/scriptEditor.js")"></script>

    <!-- SCRIPTS LIST TABLE -->
    <div id="scriptsContainer">
        <div id="scriptsBody">
            #if($scripts.size() == 0)
                <!-- TODO: Convert to REST call -->
                <p>No scripts are currently installed on this system.</p>
            #else
            <style type="text/css">
                #scripts_table td.edit:hover { cursor: pointer }
                #scripts_table td.edit:hover a,
                #scripts_table a:hover { text-decoration: underline }
                #scripts_table tr.script-list a { display: inline-block; padding: 2px 8px; }
                table.edit-script { margin-bottom: -4px; }
                table.edit-script td { padding: 4px 2px; vertical-align: baseline; }
            </style>
            <table id="scripts_table" class="xnat-table" style="width: 100%;">
                <thead>
                <th>Script ID</th>
                <th width="50%">Description</th>
                <!-- th>Version</th -->
                <th>&nbsp;</th>
##                <th>&nbsp;</th>
##                <th>&nbsp;</th>
                </thead>
            <tbody>
                #foreach($script in $scripts)
                <script type="text/javascript">
                    XNAT.app.scriptEditor.scriptIds.push('$script.scriptId');
                </script>
                <tr class="highlight script-list" data-script-id="$script.scriptId">
                    <!-- TODO: Convert to REST call -->
                    <td class="edit" data-action="editScript">
                        <a href="#" class="edit nolink"><b>$script.scriptId</b></a>
                    ##<a href="$link.setPage("EditScript.vm")?scriptId=$script.scriptId">$script.scriptId</a>
                        ##<a href="javascript:" onclick="XNAT.app.scriptEditor.editScript('$script.scriptId')"><b>$script.scriptId</b></a>
                    </td>
                    <td class="edit" data-action="editScript">$script.description</td>
                    <!-- td>$script.language v. $script.languageVersion</td -->
                    <!-- TODO: Convert to REST call -->
                    <td style="text-align:center;white-space:nowrap;">
##                        <button type="button" data-action="editScript" title="edit existing script">edit</button>
                        <a href="#" data-action="editScript" class="nolink" title="edit existing script">edit</a>
                    ## <a href="javascript:" class="link" onclick="XNAT.app.scriptEditor.editScript('$script.scriptId')">edit</a>
##                    </td>
##                    <td data-action="deleteScript" style="text-align: center;">
##                            <button type="button" data-action="deleteScript" title="delete existing script">delete</button>
                        <a href="#" data-action="deleteScript" class="nolink" title="delete existing script">delete</a>
                    ##<a href="$link.setPage("EditScript.vm")?scriptId=$script.scriptId">edit</a>
##                        <a href="javascript:" class="link" onclick="XNAT.app.scriptEditor.deleteScript('$script.scriptId')">delete</a>
                    ##<a href="javascript:;" onclick="deleteScript('$script.scriptId')"><img border="0" src="$content.getURI("images/delete.gif")"/></a>
##                    </td>
##                    <td data-action="duplicateScript" style="text-align: center;">
##                        <button type="button" data-action="duplicateScript" title="copy existing script to a new script">duplicate</button>

                                            <a href="#" data-action="duplicateScript" class="nolink" title="copy existing script to a new script">duplicate</a>
                    </td>
                </tr>
                #end
            #end
        </tbody>
        </table>
            <br>
            <button type="button" id="add_script_button" class="btn1" title="add new script" onclick="XNAT.app.scriptEditor.addScript()">Add Script</button>
        </div>
    </div>

    <!-- SCRIPT EDITOR TEMPLATE -->
    <div id="script-editor-template" class="html-template">
        <input type="hidden" name="id" class="id" value="">
        <input type="hidden" name="scriptId" class="scriptId" value="">
        <input type="hidden" name="language" class="language" value="">
        <input type="hidden" name="timestamp" class="timestamp" value="">
        <table class="edit-script" border="0" cellspacing="0">
            <tr>
                <td><b>Script ID: </b>&nbsp;</td>
                <td>
                    <b class="script-id-text"></b>
                    <input type="text" name="script-id-input" class="script-id-input" size="30" value="">
                </td>
            </tr>
            <tr>
                <td><b>Description: </b>&nbsp;</td>
                <td><input type="text" name="script-description" class="script-description" size="80" value=""></td>
            </tr>
        </table>
        <br>
        <div style="width:840px;height:482px;position:relative;">
            <div class="editor-content" style="position:absolute;top:0;right:0;bottom:0;left:0;border:1px solid #ccc;"></div>
        </div>
    </div><!-- /#script-editor-template -->

#else
    <div id="congratsContainer" class="container" style="width:98%;margin:5px;background-color:#797979;">
        <div id="congratsBody" class="containerBody">
            <div class="containerItem edit_header2" style="white-space:normal;line-height:18px;">Security Warning</div>
            <div class="containerItem" style="white-space:normal;">You do not have administrator access and can't access this page.</div>
        </div>
    </div>
#end
        </td>
    </tr>
</table>
<!-- END plugin-resources/webapp/xnat-templates/screens/Scripts.vm -->
